@model Art.Models.ViewModels.ArtworkPortfolioViewModel

@{
    ViewData["Title"] = "Delete";
}


<br />
<h2 class="text-info">Delete Artwork Portfolio</h2>
<br />
<form method="post">
    <div class="backgroundWhiteBorder row">
        <div class="col-8">
            <input type="hidden" asp-for="ArtworkPortfolio.Id" />
            <fieldset disabled>



                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ArtworkPortfolio.Name" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ArtworkPortfolio.Name" class="form-control" />
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ArtworkPortfolio.Description" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        @Html.TextAreaFor(m => m.ArtworkPortfolio.Description)
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ArtworkPortfolio.Artist" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ArtworkPortfolio.Artist" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ArtworkPortfolio.MediumId" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ArtworkPortfolio.Medium.Name" class="form-control" />
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ArtworkPortfolio.ArtworkType" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ArtworkPortfolio.ArtworkType.Name" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ArtworkPortfolio.Price" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ArtworkPortfolio.Price" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ArtworkPortfolio.Email" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ArtworkPortfolio.Email" class="form-control" />
                    </div>
                </div>


            </fieldset>
        </div>




        <div class="col-1"></div>
        <div class="col-3">
            <img src="@Model.ArtworkPortfolio.Image" width="100%" style="border-radius:5px;border:1px solid #bbb9b9;" />
        </div>
        <div class="col-8">
            <div class="col-8 offset-4">
                <partial name="_DeleteAndBackToListButton" model="Model.ArtworkPortfolio.Id" />
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>
            tinymce.init({
                selector: 'textarea',
                plugins: "lists",
                toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist",
                menubar: 'file edit format',
                readonly: 1
            });</script>
    <script>tinymce.init({ selector: 'textarea' });</script>

}