@model IEnumerable<ArtworkPortfolio>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (Model.Count() > 0)
{
    <div class="col-12 post @Model.FirstOrDefault().Name.Replace(" ",string.Empty) menu-restaurant">
       

        @foreach (var item in Model)
        {
                <div class="row" style="height: 400px">
                    <div class="col d-flex align-items-center justify-content-center">
                        <img class="d-block w-100 center-block" src="@item.Image" />
                    </div>
                    </div>
        }
        <div class="p-4"></div>
    </div>
}

