@model Art.Models.ViewModels.IndexViewModel

<br />


<br />
<br />

<div class="backgroundWhite container">

    @foreach (var type in Model.ArtworkType)
    {
<div class="row" id="menu-wrapper">
    <partial name="_BrowseByTypePartial" model="@Model.ArtworkPortfolio.Where(u=>u.ArtworkType.Id.Equals(type.Id))" />
</div>
    }
</div>
<div class="text-center">
    <a asp-action="Index" class="btn btn-success form-control">View All Works</a>
</div>


@section Scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

    <script>

    var posts = $('.post');

        function active_menu() {
            var url = window.location.href;
            $('.menu-filters a').filter(function () {
                return this.href == url;
            }).addClass('selected');
        }
 

    </script>
}
